body{
    font-family: "Tektur",sans-serif;
}
.row .card{
    height: 100%;
}
.py-5 .breadcrumb-item{
    font-size: large;
    font-weight: 600;
}
.btn{
    font-size: medium;
}
.rounded-circle{
    width: 200px;
    height: 200px;
    border: 7px solid #ffffff;
    box-shadow: 2px 2px 10px #919191;
    object-fit: cover;
}
.select{
    min-height: auto;
    padding: 0.32rem 0.75rem;
    background: transparent;
    transition: all .2s linear;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #4f4f4f;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
}