body{
    font-family: "Tektur",sans-serif;
}

.py-5 .breadcrumb-item{
    font-size: large;
    font-weight: 600;
}
.btn{
    font-size: medium;
}
.world-img{
    border: 7px solid #ffffff;
    box-shadow: 2px 2px 10px #919191;
    /*220, 370*/
    height: 176px;
    width: 296px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.titleincard{
    font-weight: 600
}
.card-title{
    font-size: 25px;
    font-weight: 700;

}
.mini-button{
    height: 36px;
    font-size: 12px;
    text-align: center;
}
.rounded-circle{
    width: 100px;
    height: 100px;
    border: 7px solid #ffffff;
    box-shadow: 2px 2px 6px #9191915e;
    object-fit: cover;
}
.dropdown-sort{
    --mdb-dropdown-box-shadow: transparent;
}
.dropdown-sort li{
    margin-top: 2px;
    /*padding: 0;*/
}
.dropdown-tag{
    margin-right: 5px;
    margin-left: 5px;
}

.disable-button{
    color: transparent;
    border-color: transparent;
    background: transparent;
    box-shadow: 0 0 0 transparent;
}



#btn-back-to-top{
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 55px;
    height: 55px;
    display: none;
}
.modal-title{
    font-weight: 800;
    font-size: 30px;
}
.model-body{
    font-size: 17px;
}

.character-disappear{
    transition: 4s;
    filter: blur(20px);
    opacity: 0;
}

