body{
    font-family: "Tektur",sans-serif;
}
.row .card{
    height: 100%;
}
.py-5 .breadcrumb-item{
    font-size: large;
    font-weight: 600;
}
.btn{
    font-size: medium;
}
.rounded-circle{
    width: 200px;
    height: 200px;
    border: 7px solid #ffffff;
    box-shadow: 2px 2px 10px #919191;
    object-fit: cover;
}