body{
    font-family: "Tektur",sans-serif;
}

.py-5 .breadcrumb-item{
    font-size: large;
    font-weight: 600;
}
.btn{
    font-size: medium;
}
.world-img{
    border: 7px solid #ffffff;
    box-shadow: 2px 2px 10px #919191;
    height: 220px;
    width: 370px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.mini-button{
    height: 36px;
    font-size: 13px;
    text-align: center;
}
.titleincard{
    font-size: x-large;
    font-weight: 700
}
#btn-back-to-top{
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 55px;
    height: 55px;
    display: none;
}
p.fantasy{
    text-indent: 30px;
}