body{
    font-family: "Tektur",sans-serif;
}

table{
    width: 80%;
    text-align: left;
    font-size: 15px;
}

tr{
    border-bottom: 2px solid rgba(0,0,0,0.10)
}

td{
    padding-top: 15px;
    padding-bottom: 5px;
}
.row-title{
    width: 20%;
    font-size: 17px;
    font-weight: 700
}
.row-content{
    width: 60%;
    word-break: break-word
}


.py-5 .breadcrumb-item{
    font-size: large;
    font-weight: 600;
}
.btn{
    font-size: medium;
}


.rounded-circle{
    width: 200px;
    height: 200px;
    border: 7px solid #ffffff;
    box-shadow: 2px 2px 10px #919191;
    object-fit: cover;
}

.mini-button{
    height: 36px;
    font-size: 13px;
    text-align: center;
}
.titleincard{
    font-size: x-large;
    font-weight: 700
}
#btn-back-to-top{
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 55px;
    height: 55px;
    display: none;
}